[project]
	description = teest
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hjimmy
[access "refs/for/refs/*"]
	read = group user/hjimmy
	push = group user/hjimmy
	label-Code-Review = -2..+2 group user/hjimmy
	label-Verified = -1..+1 group user/hjimmy
	rebase = group user/hjimmy
	removeReviewer = group user/hjimmy
	submit = group user/hjimmy
[access "refs/heads/*"]
	read = group user/hjimmy
	create = group user/hjimmy
	push = +force group user/hjimmy
	pushMerge = group user/hjimmy
[access "refs/tags/*"]
	push = +force group user/hjimmy
	pushTag = group user/hjimmy
	pushSignedTag = group user/hjimmy
